@import url('../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

:root {
    font-size: 62.5%;
}
body {
    font-family: 'Raleway', sans-serif;
}
main {
    background: #000;
}
h1, h2, p {
    text-align: center;
}
h1 {
    text-transform: uppercase;
}
h2 {
    color: #33A8DB;
    font-size: 3.2rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
    text-transform: uppercase;
}
p {
    color: #fff;
    font-size: 1.6rem;
}
button {
    padding: 1.9rem 9.1rem;
    border: 2px solid #31A8DD;
    color: #31A8DD;
    text-align: center;
    font-size: 1.6rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.36px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background .5s;
}
button:hover{
    background: #66b7da;
    color: #fff;
}
.banner {
    background-image: url('../images/banner.png'), linear-gradient(rgba(0, 0, 0), rgb(18, 63, 82), rgba(0, 0, 0));
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #33A8DB80;
}
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 52rem;
    padding-block: 8.3rem 7.5rem;
    margin-inline: auto;
}
.banner-content h1 {
    margin-bottom: 1.6rem;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background-image: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content p {
    font-size: 2rem;
}
.banner-content p {
    margin-bottom: 2.4rem;
}
.logo {
    margin-bottom: 4.3rem;
}

#course-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    max-width: 98rem;
    margin-inline: auto;
    padding: 11.8rem 9rem;
}
#course-content .module-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#course-content .modules-list .module {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    padding: 1.6rem 12.7rem;
    margin-bottom: 2.4rem;
}
#course-content .modules-list .module span {
    color: #33A8DB;
}

#transform-world {
    height: 36.3rem;
    background-size: cover;
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}
#transform-world p {
    color: #FFF;
    text-shadow: 3px 2px #33A8DB;
    text-align: left;
    font-size: 4rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    max-width: 25.5rem;
    text-transform: lowercase;
    margin: 8% 15%;
}

#professional-challenges {
    max-width: 80rem;
    margin-inline: auto;
    padding-block: 7.6rem 9rem;
}
#professional-challenges h2 {
    margin-bottom: 3.2rem;
}
#professional-challenges img {
    display: block;
    max-width: 60rem;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 4rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #33A8DB;
    background: #000;
    background-image: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);
    padding-block: 5.9rem 3.8rem;
}
footer img {
    margin-bottom: 1rem;
}
footer p a {
    color: #33A8DB;
    text-decoration: none;
    font-weight: 900;
}
footer p a:hover {
    text-decoration: underline;
}